{% extends 'project/base.html' %}


{% block content %}

{% load static %}

<div class="jumbotron text-center" style="background: url({% static 'project/a.png' %})">
  <h1 class="text-secondary">Portfolio</h1>
  <p class="text-secondary">Personal page of Bob Owen Villarin</p> 
</div>
 

<div class="container">
  <div class="row">
  	{% for project in projects %}
    <div class="col-sm-4">    
      <h3>{{project.title}}</h3>  
      <img class="img-fluid" src={{project.cover.url}} width=200px>
      <p>{{project.description}}</p>
      <p>
      	{% if project.url %}
      	<a href="{{project.url}}">Link</a>
      	{% endif %}
      </p>
    </div>    
	{% endfor %}
  </div>
</div>

{% endblock %}