{% extends 'project/base.html' %}
{% load static %}

{% block content %}
<head>
	<title>Blog Post {{blognum}} | Django</title>
</head>

<div class="jumbotron text-center" style="background: url({% static 'project/a.png' %})">
  <h1 class="text-secondary">Blog</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">    
      <h2>{{blog.title}}</h2>
      <h6>{{ blog.date|date:'M d Y' }}</h6>
      <p>{{ blog.post|safe }}</p>
    </div>
  </div>
  <br>
</div>

{% endblock %}